<nav
  class="border-gray-200 transition-all duration-300"
  [class.bg-transparent]="isHomePage && !isScrolled"
  [class.nav-bg]="isHomePage && isScrolled"
  [class.default-bg]="!isHomePage"
>
  <div
    class="max-w-screen-2xl flex flex-wrap items-center justify-between mx-auto py-4 px-3"
  >
    <a
      routerLink="/home"
      class="font-extrabold text-3xl z-30 ms-14 text-black font-serif"
    >
      Gallery Store
    </a>
    <button
      data-collapse-toggle="navbar-default"
      type="button"
      class="inline-flex items-center p-2 w-10 h-10 justify-center text-sm rounded-lg md:hidden transition-colors duration-300"
      [class.bg-transparent]="isHomePage && !isScrolled"
      [class.text-gray-500]="isHomePage && !isScrolled"
      [class.bg-black]="isHomePage && isScrolled"
      [class.text-white]="isHomePage && isScrolled"
      [class.bg-black]="!isHomePage"
      [class.text-white]="!isHomePage"
      aria-controls="navbar-default"
      aria-expanded="false"
    >
      <span class="sr-only">Open main menu</span>
      <svg
        class="w-6 h-6"
        fill="none"
        viewBox="0 0 17 14"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          [attr.stroke]="isHomePage && !isScrolled ? '#ffffffff' : '#000'"
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M1 1h15M1 7h15M1 13h15"
        />
      </svg>
    </button>

    <div
      class="hidden w-full items-center flex-grow md:flex md:w-auto"
      id="navbar-default"
    >
      <ul
        class="capitalize font-medium ms-auto flex flex-col p-4 md:p-0 mt-4 rounded-lg md:flex-row md:space-x-4 rtl:space-x-reverse md:mt-0 md:border-0 dark:text-black"
        [class.text-white]="isHomePage && !isScrolled"
        [class.text-gray-500]="isHomePage && isScrolled"
      ></ul>

      <ul
        class="capitalize items-center ms-auto me-16 font-medium flex flex-col p-4 md:p-0 mt-4 rounded-lg md:flex-row md:space-x-4 rtl:space-x-reverse md:mt-0 md:border-0 dark:text-black"
        [class.text-white]="isHomePage && !isScrolled"
        [class.text-black]="isHomePage && isScrolled"
      >
        <li>
          <a
            routerLink="/cart"
            routerLinkActive="main-color text-3xl  "
            class="block text-2xl py-2 px-1 rounded-sm relative"
            aria-current="page"
          >
            <i class="fa-solid fa-cart-plus"></i>
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
